@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    top: 0;
    left: 0;
    /*box-shadow: 0px 5px 8px rgba(0,0,0,0.5);*/
}

.nav-link{
  color: #67738a !important;
}

.navbar {
  background-color: #ffffff !important;
}

.navbar-brand{
  color: #6070FF !important;
  font-weight: 600;
  font-size: 40px !important;
  margin-left: 20px !important;
}

.navbar-toggler-icon {
    background-color: #ffffff !important;
}

.navbar-toggler {
    color: #ffffff !important;
}

.navbar-collapse {
    margin-left: 15px;
    margin-top: 10px;
}

.nav-link:hover {
    background-color: #616efa !important;
    color: #ffffff !important;
    border-radius: 10px;
}
